<%- include('partials/header') %>

    <h2>Add Student</h2>

    <form action="/add-student" method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Marks:</label><br>
        <input type="number" name="marks" required><br><br>

        <button type="submit">Add</button>
    </form>

    <%- include('partials/footer') %>