<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
</head>
<body>

<h1>All Posts</h1>

<a href="/posts/new">Create New Post</a>

<ul>
    <% posts.forEach(function(post) { %>
        <li>
            <a href="/posts/<%= post.id %>">
                <%= post.title %>
            </a>
        </li>
    <% }); %>
</ul>

</body>
</html>
